.gallery-box, .gallery-box-fullscreen{
    >div:first-child{ // big
        // width:100%;
        cursor:pointer;
        overflow: hidden;
        position: relative;
        >img{
            width:100%;
            position: absolute;
            top:0;
            left:0;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
            opacity: 1;
            &.transparent{
                opacity: 0;
            }
        }
    }
    >div:nth-child(2){ // mini_cover
        position: relative;
        overflow: hidden;
        // width:100%;
        >div{ // mini
            white-space: nowrap;
            text-align: center;
            position: relative;
            >img{
                padding: 0.5rem;
                margin: 0.5rem;
                width: 150px;
                cursor:pointer;
                // display: inline;
                &.active{
                    background-color: #909090;
                }
            }
        }
    }
}
.gallery-box{
    width:100%;
}
//GFS
.gallery-box-fullscreen-dimmer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    height:100%;
    width:100%;
    background-color: #000000;
    opacity:0.3; 
}
.gallery-box-fullscreen{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    top:0;
    left:0;
    z-index: 10001;
    >div{
        margin: auto;
        img{
            width:100%;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
            opacity: 1;
            &.transparent{
                opacity: 0;
            }
        }
    }
}